<ul>
    <% expenses.forEach(expense =>{ %> 
        <li>
            <div><%= expense.title %> </div>
            <span><% persons.find(p=> { %>
                <% if(p.id == expense.person){ %> 
                        <p>Of: <%= p.name %> </p>      
                    <% } %> 
               <% }) %> 
            </span>
            <a href="/expenses/<%= expense.id %>">View</a>
            <a href="/expenses/<%= expense.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm.js',{url:`/expenses/${expense.id}`}) %>
        </li>
    <% })  %> 
</ul>